<head>
    <%- include('../common/head') %>

        <%- include('../common/homestyle') %>
</head>

<body>
    <header>
        <%- include('../common/header', { links: navbar.links }) %>
    </header>

    <h1>Hello <%- user.name.toUpperCase() %></h1>

    <footer>
        <%- include('../common/footer') %>
    </footer>
</body>