<payment>
    <div class="container">
        <h1 class="text-center mt-5">Checkout Payment</h1>
        <div class="row justify-content-center">
            <div class="col-md-6">

                <% if(token == 1){%>
                    <form method="post" action="/users/confirmation" id="paymentForm">
                <%} else{%>
                    <form method="get" action="/users/login" id="paymentForm">
                <% } %>


                    <!-- <div class="form-group">
                        <label for="name">Name</label>
                        <input name="name" type="text" class="form-control" id="name" placeholder="Enter your name"
                            required>
                    </div>

                    <div class="form-group">
                        <label for="mail">Your Email</label>
                        <input name="mail" type="email" class="form-control" id="email"
                            placeholder="Enter your email" required>
                    </div>

                    <div class="form-group">
                        <label for="address">Address</label>
                        <input type="text" name="address" class="form-control" id="address"
                            placeholder="Enter your address" required>
                    </div>
                    <div class="form-group">
                        <label for="billingAddress">Billing Address</label>
                        <input type="text" name="billingAddress" class="form-control" id="billingAddress"
                            placeholder="Enter your billing address" required>
                    </div>

                    <div class="form-group">
                        <label for="cardNumber">Card Number</label>
                        <input name="cardNumber" type="number" class="form-control" id="cardNumber"
                            placeholder="Enter your card number" required>
                    </div>
                    <div class="form-group">
                        <label for="cardHolder">Card Holder Name</label>
                        <input type="text" name="cardHolder" class="form-control" id="cardHolder"
                            placeholder="Enter card holder name" required>
                    </div>

                    <div class="form-group">
                        <label for="expiryDate">Expiry Date</label>
                        <input type="text" name="expiryDate" class="form-control" id="expiryDate"
                            placeholder="Enter expiry date (MM/YY)" required>
                    </div>

                    <div class="form-group">
                        <label for="cvv">CVV</label>
                        <input type="number" name="cvv" class="form-control" id="cvv" placeholder="Enter CVV"
                            required>
                    </div> -->

                    

                    


                    <br>
                    <div class=" all">
                        <% products.forEach((product)=> { %>
                            <br>
                            <div class="list" data-product-id="<%= product._id %>">
                                <h5>
                                    <% if(token==1){ %>
                                    <input type="text" class="d-none" name="prodQuantity" value="<%= product.quantity%>">
                                    <input type="text" class="d-none" name="prodTitle" value="<%= product.title%>">
                                    <input type="text" class="d-none" name="prodPrice" value="<%= product.quantity *
                                    product.price %>">
                                    <% } %>
                                    <%= product.title %> X <%= product.quantity%>
                                </h5>
                                <div>
                                    <span class="payment" style="color:red;">Total: $<%= product.quantity *
                                            product.price%></span>
                                    
                                </div>
                                <% }); %>
                            </div>

                            <div class="container">
                                <br>
                                <h5>Total sum to pay:</h5>
                                <h5><%- include('../common/finalSumToPay')%></h5>
                            </div>

                        <% if(token == 1){ %>
                            <button type="submit" id="submitBtn" class="btn btn-primary">Click to pay</button>
                        <% }else{ %>
                            <button type="submit" id="submitBtn" class="btn btn-primary">Log In</button>
                        <% } %>

                    </div>
                </form>
            </div>
        </div>
        <br><br>
    </div>
    <br><br>
</payment>