<!-- this file should read the values from the data.json file into li in loop (add a new product to the page after the admin mode) -->
<br>

<div class="container">
    <div class="container3">
        <div class="container2">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto2">
                        <li class="nav-item2">
                            <a class="nav-link2" href="#" data-category="All">All</a>
                        </li>
                        <li class="nav-item2">
                            <a class="nav-link2" href="#" data-category="Candles">Candles</a>
                        </li>
                        <li class="nav-item2">
                            <a class="nav-link2" href="#" data-category="Soaps">Soaps</a>
                        </li>
                        <li class="nav-item2">
                            <a class="nav-link2" href="#" data-category="Fragrance">Fragrance</a>
                        </li>
                        <li class="nav-item2">
                            <a class="nav-link2" href="#" data-category="Mixed">Other</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="container">
                <div class="price-range-selector">
                    <label for="price-range-select">Select Price Range:</label>
                    <select id="price-range-select">
                        <option value="0">All</option>
                        <option value="10">Max $10</option>
                        <option value="20">Max $20</option>
                        <option value="50">Max $50</option>
                        <option value="100">Max $100</option>
                        <option value="500">Max $500</option>
                        <option value="1000">Max $1000</option>
                    </select>
                </div>
            </div>
        </div>



        <br>
        <br><br>
        <div class="container4">
            <div class="inside">
                <% products.forEach((product)=> { %>
                    <div class="entry" data-product-id="<%= product._id %>">
                        <div class="product-info">
                            <img class="product-image" src="<%= product.image %>" alt="Product Image">
                            <div class="product-details">
                                <h5 class="product-title">
                                    <%= product.title %>
                                </h5>
                                <p class="product-category">Category: <%= product.category %>
                                </p>
                                <p class="product-price">Price: $<%= product.price %>
                                </p>
                            </div>
                        </div>
                        <div class="product-control">
                            <button class="btn btn-primary decrease-quantity" data-product-id="<%= product._id %>"
                                data-title="<%= product.title %>" data-category="<%= product.category %>"
                                data-description="<%= product.description %>" data-image="<%= product.image %>"
                                data-quantity="<%= product.quantity %>" data-price="<%= product.price %>">-</button>

                            <span class="quantity">
                                <%= product.quantity %>
                            </span>

                            <button class="btn btn-primary increase-quantity" data-product-id="<%= product._id %>"
                                data-title="<%= product.title %>" data-category="<%= product.category %>"
                                data-description="<%= product.description %>" data-image="<%= product.image %>"
                                data-quantity="<%= product.quantity %>" data-price="<%= product.price %>">+</button>

                            <span class="payment" data-product-id="<%= product._id %>" data-title="<%= product.title %>"
                                data-category="<%= product.category %>" data-description="<%= product.description %>"
                                data-image="<%= product.image %>" data-quantity="<%= product.quantity %>"
                                data-price="<%= product.price %>">Total: $<%= product.payment %>
                            </span>
                        </div>
                        <a class="btn btn-primary add-to-cart" href="/" role="button"
                            data-product-id="<%= product._id %>" data-title="<%= product.title %>"
                            data-category="<%= product.category %>" data-description="<%= product.description %>"
                            data-image="<%= product.image %>" data-price="<%= product.price %>"
                            data-payment="<%= product.payment %>">Add to cart</a>
                    </div>
                    <% }); %>
            </div>

        </div>

    </div>

</div>




<%- include('cart-sum')%>
    <%- include('cart-control')%>



        <script>
            function filterCategory() {
                const categoryOption = document.querySelectorAll('.nav-link2');
                const entries = document.querySelectorAll('.entry');
                const priceRange = document.getElementById('price-range-select');

                categoryOption.forEach((entry) => {
                    entry.addEventListener('click', (event) => {
                        event.preventDefault();
                        const selectedCategory = entry.getAttribute('data-category');

                        entries.forEach((entry) => {
                            entry.style.display = 'block';
                            const category = entry.querySelector('.product-category').innerText.split(': ')[1];  // take the second key without the ': '

                            if (selectedCategory === 'All' || selectedCategory === category) {
                                entry.style.display = 'block';
                            }
                            else {
                                entry.style.display = 'none';
                            }
                        });


                        priceRange.value = '0';  // set price range selector back to 'All'
                    });
                });
            }

            function filterPrice() {
                const priceRange = document.getElementById('price-range-select');
                const entries = document.querySelectorAll('.entry');

                priceRange.addEventListener('change', (event) => {
                    const maxPrice = parseInt(event.target.value);

                    entries.forEach((entry) => {
                        entry.style.display = 'block';
                        const price = parseInt(entry.querySelector('.product-price').innerText.split('$')[1]); // take the second key without the '$'

                        if (maxPrice === 0 || price <= maxPrice) {
                            entry.style.display = 'block';
                        }
                        else {
                            entry.style.display = 'none';
                        }
                    });
                });
            }

            filterCategory();
            filterPrice();


        </script>